body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: hsl(0, 2%, 10%);
  padding-top: 100px;
  justify-content: center;
}

#container {
  border: 1px solid; 
  display: flex;
  flex-direction: column;
  height: 100%; 
  margin: 0 auto;
  width: 450px;
  justify-content: center;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

h1 {
  text-align: center;
}

#input {
  align-items: center;
  width: 150px; ;
}