body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: hsl(0, 2%, 10%);
  padding-top: 100px;
  justify-content: center;
  font-size: x-large;
}

#container {
  border: 1px solid; 
  display: flex;
  flex-direction: column;
  height: 100%; 
  margin: 0 auto;
  width: 450px;
  justify-content: center;
  padding-right: 40px;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

h1 {
  text-align: center;
}

#input {
  padding: 5px ;
  font-style: italic;
  font-size: large;
  color: rgb(193, 196, 199);
  margin-left: 15px;
  align-items: center;
  width: 150px;
  box-shadow: 4px 4px 7px slategrey;
  margin-bottom: 20px;
}

ul li:nth-child(odd) {
  background: rgb(238, 240, 241);